.inner-page .slider-item {
    position: relative;
    height: calc(50vh - 117px);
    min-height: 550px; }
.inner-page .slider-item .slider-text {
    color: #fff;
    height: calc(50vh - 117px);
    min-height: 550px; }

.slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: calc(100vh);
    min-height: 700px;
    position: relative; }
.slider-item:before {
    content: "";
    position: absolute;
    top: 0;
    height: 500px;
    width: 100%;
    background: black;
    background: -moz-linear-gradient(top, black 0%, rgba(145, 232, 66, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(145, 232, 66, 0)));
    background: -webkit-linear-gradient(top, black 0%, rgba(145, 232, 66, 0) 100%);
    background: -o-linear-gradient(top, black 0%, rgba(145, 232, 66, 0) 100%);
    background: -ms-linear-gradient(top, black 0%, rgba(145, 232, 66, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(145, 232, 66, 0)));
    background: linear-gradient(to bottom, black 0%, rgba(145, 232, 66, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#91e842', GradientType=0 ); }
.slider-item .slider-text {
    color: #fff;
    height: calc(100vh);
    min-height: 700px; }
a.link-ads:hover{
    text-decoration: none }
.slider-item .slider-text .child-name {
    font-size: 40px;
    color: #fff; }
.slider-item .slider-text h3 {
    font-size: 50px;
    color: #fff;
    line-height: 1.2;
    font-weight: 300 !important;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 0.5em; }
.slider-item .slider-text h3 span {
    color: white;
    background-color: #fd5f00;
    -webkit-box-shadow: 0.5em 0 0 #fd5f00,-0.5em 0 0 #fd5f00;
    box-shadow: 0.5em 0 0 #fd5f00,-0.5em 0 0 #fd5f00; }
@media (max-width: 991.98px) {
    .slider-item .slider-text h3 {
        font-size: 40px; } }
.slider-item .slider-text p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: white;
    margin: 0 auto; }
.slider-item .slider-text p a {
    color: #fd5f00;
    text-decoration: underline; }
.slider-item .slider-text p a:hover {
    color: #fff;
    text-decoration: underline; }
.slider-item .slider-text p.sub-text {
    line-height: 2; }
